[workspace]
members = ["app", "dev_kit"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
salvo = { version = "0.88.1", features = [
  "timeout",
  "concurrency-limiter",
  "http2-cleartext",
  "logging",
  "oapi",
] }
jsonwebtoken = "9.3.1"
serde = { version = "1.0.219", features = ["derive"] }
chrono = "0.4.40"
tokio = { version = "1.44.2", features = ["full"] }
stringzilla = "3.12.5"
salvo-casbin = "0.73.3"
anyhow = "1.0.98"
once_cell = "1.21.3"
casbin = "2.10.1"
bb8-redis = "0.22.0"
bb8 = "0.9.0"
mimalloc = { version = "0.1.46", features = [
  "local_dynamic_tls",
  "no_thp",
  "override",
] }
nacos-sdk = "0.5.0"
toml = { version = "0.8.20", default-features = false, features = ["parse"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["local-time"] }
reqwest = { version = "0.12.15", default-features = false, features = [
  "json",
  "h2",
  "http2",
] }
serde_json = "1.0.140"

[profile.dev]
debug = true
debug-assertions = true
panic = "abort"
incremental = true

[profile.release]
overflow-checks = false
codegen-units = 1
lto = "fat"
opt-level = 3
strip = true
debug = 0
debug-assertions = false
incremental = true
